@if(editingElement){

@for(key of editingElement | objectKeys; track editingElement){

@if ((editingElement[key] | typeOf)=== 'number'){

<mat-form-field>
    <mat-label>{{ key }}</mat-label>
    <input matInput type="number" min="1" value="{{ editingElement[key] }}">
</mat-form-field>

}@else if ((editingElement[key] | typeOf)=== 'string') {

<mat-form-field>
    <mat-label>{{ key }}</mat-label>
    <input matInput value="{{editingElement[key]}}">
</mat-form-field>

}@else if ((editingElement[key] | typeOf)=== 'boolean') {

todo

}

}

}