table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.material-icons.sm-9 {
    font-size: 9px;
}

.material-icons.md-12 {
    font-size: 12px;
}


  .grid { 
    display: grid;
    grid-gap: 2vw;
    /* border: 1px solid black; */
    /* margin: 10px; */
    }

  .grid > div {
    font-size: 5vw;
    /* padding: .5em; */
    /* background: gold; */
    text-align: center;
  }
  .grid > div > p {
    text-align: left;
  }

  .auto-fit {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }