<!-- <div class="example-action-buttons">
    <button mat-button (click)="accordion.openAll()">Expand All</button>
    <button mat-button (click)="accordion.closeAll()">Collapse All</button>
</div> -->
<mat-accordion class="example-headers-align" multi>

    <mat-expansion-panel>

        <mat-expansion-panel-header>

            <mat-panel-title>
                Critères de recherche
            </mat-panel-title>

            <mat-panel-description>
                Critères de recherche
            </mat-panel-description>

        </mat-expansion-panel-header>

        <div class="grid auto-fit">

            <div>
                <app-material-input-text></app-material-input-text>
                <br>
                <app-material-input-text></app-material-input-text>
            </div>

            <div>
                <app-material-input-text></app-material-input-text>
                <!--todo autres balise -->
            </div>

        </div>

    </mat-expansion-panel>

    <mat-expansion-panel>

        <mat-expansion-panel-header>

            <mat-panel-title>
                Resultat de la recherche
            </mat-panel-title>

            <mat-panel-description>
                Resultat de la recherche
                <!-- <mat-icon>date_range</mat-icon> -->
            </mat-panel-description>

        </mat-expansion-panel-header>

        <app-material-table [columns]="columns" [dataSource]="dataSource" (editRow)="onRowEdited($event)"></app-material-table>

        <app-material-table [columns]="columns2" [dataSource]="dataSource2" (editRow)="onRowEdited($event)"></app-material-table>

    </mat-expansion-panel>

    <mat-expansion-panel>

        <mat-expansion-panel-header>

            <mat-panel-title>
                Détail d'un élément
            </mat-panel-title>

            <mat-panel-description>
                Détail d'un élément
            </mat-panel-description>

            <br />

        </mat-expansion-panel-header>

        <app-data-detail [editingElement]="editingElement"> </app-data-detail>

    </mat-expansion-panel>

</mat-accordion>