<!-- <div class="example-action-buttons">
    <button mat-button (click)="accordion.openAll()">Expand All</button>
    <button mat-button (click)="accordion.closeAll()">Collapse All</button>
</div> -->
<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Critères de recherche
            </mat-panel-title>
            <mat-panel-description>
                Critères de recherche
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field>
            <mat-label>First name</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Age</mat-label>
            <input matInput type="number" min="1">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly>
        </mat-form-field>
        <mat-datepicker #picker></mat-datepicker>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Resultat de la recherche
            </mat-panel-title>
            <mat-panel-description>
                Resultat de la recherche
                <!-- <mat-icon>date_range</mat-icon> -->
            </mat-panel-description>
        </mat-expansion-panel-header>

        <!-- <button mat-raised-button (click)="addColumn()"> Add column </button> -->
        <!-- <button mat-raised-button (click)="removeColumn()"> Remove column </button> -->
        <!-- <button mat-raised-button (click)="shuffle()"> Shuffle </button> -->

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">

            @for (column of columns; track column) {
            <ng-container [matColumnDef]="column">
                <th mat-header-cell cdkDrag *matHeaderCellDef> {{column}}
                    <button (click)="removeColumn(column)">
                        <mat-icon>remove</mat-icon>
                    </button>
                </th>
                <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
            </ng-container>
            }

            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        </table>

    </mat-expansion-panel>
</mat-accordion>