<!-- <div class="example-action-buttons">
    <button mat-button (click)="accordion.openAll()">Expand All</button>
    <button mat-button (click)="accordion.closeAll()">Collapse All</button>
</div> -->
<mat-accordion class="example-headers-align" multi>

    <mat-expansion-panel>

        <mat-expansion-panel-header>
            <mat-panel-title>
                Critères de recherche
            </mat-panel-title>
            <mat-panel-description>
                Critères de recherche
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field>
            <mat-label>name</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field>
            <mat-label>weight</mat-label>
            <input matInput type="number" min="1">
        </mat-form-field>

        <mat-form-field>
            <mat-label>symbol</mat-label>
            <input matInput>
        </mat-form-field>

        <!-- <mat-form-field>
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly>
        </mat-form-field>
        <mat-datepicker #picker></mat-datepicker> -->
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Resultat de la recherche
            </mat-panel-title>
            <mat-panel-description>
                Resultat de la recherche
                <!-- <mat-icon>date_range</mat-icon> -->
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons aria-label="Select page of periodic elements">
        </mat-paginator>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)" matSort matSortDisableClear matSortDirection="desc" (matSortChange)="announceSortChange($event)">

            @for (column of columns; track column) {
            <ng-container [matColumnDef]="column">
                @if(column !='action'){
                <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header arrowPosition="after">
                    <i class="material-icons md-12">drag_indicator</i>
                    <span>
                        {{column}}
                    </span>
                    <i class="material-icons md-12" (click)="removeColumn(column)">
                        close
                    </i>
                </th>
                <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
                }@else{
                <th mat-header-cell *matHeaderCellDef>
                    <span>
                        {{column}}
                    </span>
                </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button (click)="editRow(element)">Détail</button> <!--{{element[column]}}-->
                </td>
                }

            </ng-container>
            }

            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        </table>

    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Détail d'un élément
            </mat-panel-title>
            <mat-panel-description>
                Détail d'un élément
            </mat-panel-description>
            <br />
        </mat-expansion-panel-header>

        <app-data-detail></app-data-detail>

    </mat-expansion-panel>
</mat-accordion>